<!--@Ben Cummins-->
<!--Will allow the user to login with the website-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Viewport added to allow responsive web design-->
        <title>Login</title>
        <link link rel="StyleSheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"> <!--Link to the css stylesheet.-->
    </head>
    <body>
        <div class="row"><!--Navbar row-->
            <div class="row">
                <nav> <!--Start of navbar.-->
                    <ul class="navbar"> 
                        <li><a href="/">Home</a></li>
                        <li><a href="rooms">Rooms</a></li>
                        <li><a href="locations">Locations</a></li>
                        <li><a href="booking">Book Now</a></li>
                        <li><a href="aboutus">About Us</a></li>
                        {% if session['logged_in'] %}
                        <li><a href="account">My account</a></li><!--If the user is logged in, allow them to access their account management-->
                        <li><a href="logout">Logout</a></li>
                        {% else %}
                        <!-- If the user isnt logged, allow them them to use these routes-->
                        <li><a href="register">Register</a></li>
                        <li><a class="active" href="login">Login</a></li>
                        {% endif %}
                    </ul>
                </nav> <!--End of navbar.-->
        </div>
        
        <!--Creating a form box for the login section-->
        <form class="row box formadjust" action="{{url_for('login')}}" onsubmit="return sessions()" method="POST">
            <div>
                <p>{{error}}</p>
                <h2>Login</h2>
                <!--Email entry for login using email-->
                <label for="email">Email: </label><br>
                <input type="email" id="email" name="email" required><br>
                <!--Password Entry-->
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" required>
                <br><br>
                <!--Submit button-->
                <input style="color:black;" type="submit" id="submit" name="submit"> <!--Ovveriding the text rule to change submit button to black-->
            </div>
        </form>
    </body>
</html>