<!--@Ben Cummins-->
<!--Notify the user their register was successful-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Viewport added to allow responsive web design-->
        <title>About Us</title>
        <link link rel="StyleSheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"> <!--Link to the css stylesheet.-->
    </head>
    <body>
        <div class="row">
            <nav> <!--Start of navbar.-->
                <ul class="navbar"> 
                    <li><a href=/home>Home</a></li>
                    <li><a href="/rooms">Rooms</a></li>
                    <li><a href="/locations">Locations</a></li>
                    <li><a href="/booking">Book Now</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/account">My account</a></li>
                </ul>
            </nav> <!--End of navbar.-->
        </div>
    <header>
        <h1>Registration Success!</h1>
        <p>Please naviagate using the navbar</p>
    </header>