<!--@Ben Cummins-->
<!--Allows admin users to generate a report of bookings in a hotel in one month-->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Viewport added to allow responsive web design-->
        <title>Report</title>
        <link link rel="StyleSheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"> <!--Link to the css stylesheet.-->
    </head>
    <body>
        <div class="row">
            <nav> <!--Start of navbar.-->
                <ul class="navbar"> 
                    <li><a class="/">Home</a></li>
                    <li><a href="rooms">Rooms</a></li>
                    <li><a href="locations">Locations</a></li>
                    <li><a href="booking">Book Now</a></li>
                    <li><a href="aboutus">About Us</a></li>
                    {% if session['logged_in'] %}
                    <li><a class="active" href="account">My account</a></li><!--If the user is logged in, allow them to access their account management-->
                    <li><a href="logout">Logout</a></li>
                    {% else %}
                    <!-- If the user isnt logged, allow them them to use these routes-->
                    <li><a href="register">Register</a></li>
                    <li><a href="login">Login</a></li>
                    {% endif %}
                </ul>
            </nav> <!--End of navbar.-->
        </div>
    <header>
        <h1>Generate a report</h1>
    </header>
    <body>
        <div>
            <form class="row box formadjust" action="/reportdata" method="POST"> <!--Creating a form to enter the details of the new hotel-->
                <p>Please select the hotel and month you would like for the report</p>
                <div class="col-6 col-l-6 col-d-6 col-t-12">
                    <!--Form to select what month-->
                    <label for="rmonth">Month:</label><br/>
                    <select style="color:black;" id="rmonth" name="rmonth"><br/>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-6 col-l-6 col-d-6 col-t-12">
                    <!--Form to select what hotel data is grabbed-->
                    <label for="rhotel">Hotel:</label><br/>
                    <select style="color: black;"id="{{city}}" name="rhotel" required> <!--Inline style rule to make the selected text black-->
                    {% for city in hotelLoc %}
                        <option value="{{city}}"> {{city}} </option>
                    {% endfor %}
                    </select>
                </div>
                <!--Submit button overriding style rules-->
                <input style="color:black;" type="submit" id="submit" name="submit">
            </form>
        </div>
    </body>
</html>